* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.deskWrapper {
    width: 90vh;
    height: 90vh;
    margin: 0 auto;
    display: grid;
}

.vertical {
    transform: rotate(0deg);
}

.horizontal {
    transform: rotate(90deg);
}

.propeller {
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    background: url("img/propeller.png") center center / cover;
}

.circle {
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
